body{
    background-color: bisque;
    color: brown;
    text-align: center;
    font-family: cursive;
}
img{
    height: 30%;
    width: 70%;
    position: relative;
}
p{
    background-color: aquamarine;
    color: red;
}
.firstp{
    color: black;
    font-style: italic;
}
.secondp{
    margin: 30px;
    border: 2px solid black;
    padding: 30px;
    color: blue;
}
#d1{
    background-image: url('./hero.jpg');
    width: 40%;
    height: 20%;
}
div{
    color: lightcoral;
    background-color: chartreuse;
    width: fit-content;
}